<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p>TimeStamp: ${time}</p>
        <%
            var random = parseInt(100 * Math.random());
        %>
        <p>Random: ${random}</p>
        <% if (random % 2 == 0) { %>
        <p>Random is Odd</p>
        <% } else {%>
        <p>Random is Event</p>
        <% } %>
    </div>
    <script src="../dist/webscript.js"></script>
    <script>
        (function () {
            var data = {
                time: Date.now()
            };

            setInterval(function () {
                data.time = Date.now();
            }, 1000);

            var webscript = new WebScript(data);
        }());
    </script>
</body>
</html>