<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebScript - Demo</title>
</head>
<body>
    <h1>Webscript Demo</h1>
    <view class="app">
        <p>TimeStamp: ${time}</p>
        <hr>
        <%
            var random = parseInt(100 * Math.random());
        %>
        <p>Random: ${random}</p>
        <% if (random % 2 == 0) { %>
        <p>Random is Odd</p>
        <% } else {%>
        <p>Random is Event</p>
        <% } %>
        <hr>
        <button on-click="show">Show</button>
        <hr>
        <ul>
            <%
                for(var i=0; i < list.length; i++) {
            %>
            <li>${list[i]}</li>
            <% } %>
        </ul>
        <button on-click="pushItem">Push a item</button>
        <button on-click="shiftItem">Shift a item</button>
        <hr>
        <!-- Text -->
        <div>
            <h2>Text</h2>
            <input type="text" name="text" bind="text">
            Text: ${text}
            <br>
            <textarea name="content" bind="longtext"></textarea>
            LongText: ${longtext}
        </div>
        <!-- Radio -->
        <div>
            <h2>Radio</h2>
            <hr>
            <input type="radio" name="sex" value="boy" bind="sex"> Boy
            <input type="radio" name="sex" value="girl" bind="sex"> Girl
            Sex: ${sex}
        </div>
        <!-- Checkbox -->
        <div>
            <h2>Checkbox</h2>
            <hr>
            <input type="checkbox" name="open" bind="open">
            Checked: ${open}
        </div>
        <!-- Select -->
        <div>
            <h2>Select</h2>
            <hr>
            <select name="city" bind="city">
                <option value="Beijing">Beijing</option>
                <option value="New York">New York</option>
                <option value="London">London</option>
            </select>
            City: ${city}
        </div>
    </view>

    <script src="../dist/webscript.js"></script>
    <script>
        //(function () {
            var webscript = new WebScript({
                name: 'view',
                data: {
                    time: Date.now(),
                    text: "Hello World",
                    longtext: "This is a \n new line.",
                    sex: 'unknow',
                    open: true,
                    city: 'unknow',
                    show: function () {
                        console.log(this);
                        alert('You click a button~');
                    },
                    list: ['item1', 'item2', 'item3'],
                    pushItem: function () {
                        console.log(this);
                        data.list.push('item' + (data.list.length+1));
                    },
                    shiftItem: function () {
                        data.list.shift();
                    },
                    subobj: {
                        prop: 1
                    }
                },
                attrs: {
                    '.open-view': {
                        hidden: function () {
                            console.log(!this.data.open);
                            return !this.data.open;
                        }
                    }
                }
            });

            var data = webscript.data;

//           setInterval(function () {
//               data.time = Date.now();
//           }, 1000);

            var options = {
                data: data
            };
        //}());
    </script>
</body>
</html>