<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebScript - Demo</title>
</head>
<body>
    <div>
        <p>TimeStamp: ${time}</p>
        <hr>
        <%
            var random = parseInt(100 * Math.random());
        %>
        <p>Random: ${random}</p>
        <% if (random % 2 == 0) { %>
        <p>Random is Odd</p>
        <% } else {%>
        <p>Random is Event</p>
        <% } %>
        <hr>
        <button onclick=":show">Show</button>
        <hr>
        <ul>
            <%
                for(var i=0; i < list.length; i++) {
            %>
            <li>${list[i]}</li>
            <% } %>
        </ul>
        <button onclick=":pushItem">Push a item</button>
        <button onclick=":shiftItem">Shift a item</button>
        <hr>
        <div>
            <input type="text" name=":text">
            Text: ${text}
        </div>
        <div>
            <textarea name=":longtext"></textarea>
            LongText: ${longtext}
        </div>
        <div>
            <input type="radio" name=":sex" value="boy"> Boy
            <input type="radio" name=":sex" value="girl"> Girl
            Sex: ${sex}
        </div>
        <div>
            <input type="checkbox" name=":open">
            Open: ${open}
        </div>
        <div>
            <select name=":city">
                <option value="Beijing">Beijing</option>
                <option value="New York">New York</option>
                <option value="London">London</option>
            </select>
            City: ${city}
        </div>
        <div>
            ${subobj.prop}
        </div>
    </div>
    <script src="../dist/webscript.min.js"></script>
    <script>
        //(function () {
            var webscript = new WebScript({
                data: {
                    time: Date.now(),
                    text: "Hello World",
                    longtext: "This is a \n new line.",
                    sex: 'unknow',
                    open: true,
                    city: 'unknow',
                    show: function () {
                        alert('You click a button~');
                    },
                    list: ['item1', 'item2', 'item3'],
                    pushItem: function () {
                        console.log(this);
                        data.list.push('item' + (data.list.length+1));
                    },
                    shiftItem: function () {
                        data.list.shift();
                    },
                    subobj: {
                        prop: 1
                    }
                }
            });

            var data = webscript.data;

           setInterval(function () {
               data.time = Date.now();
           }, 1000);

            var options = {
                data: data
            };
        //}());
    </script>
</body>
</html>